@charset "UTF-8";

/*共通項目開始*/
html{
    font-size: 100%;
}
body{
    font-family: serif;
}

img{
    max-width: 100%;
}

.container{
    line-height: 1.4;
}
/*共通項目終了*/
.header{
    display: flex;
    justify-content: space-between;
    margin: 16px;
}

.logo{
    width: 150px;
}

.main_nav{
    display: flex;
    justify-content:space-between;
    font-size: 15px;
}

.main_nav li:first-child{
    padding-right: 10px;
}

.main_nav li:nth-child(2){
    padding-right: 10px;
}

.main_nav li:last-child{
    padding-right: 14px;
}

.main_nav li:first-child:before{
    content: '';
    background-image: url(../images/house-solid.svg);
    background-repeat: no-repeat;
    display: block;
    width: 16px;
    height: 16px;
    margin-left: 14px;
}

.main_nav li:nth-child(2):before{
    content: '';
    background-image: url(../images/bars-solid.svg);
    background-repeat: no-repeat;
    display: block;
    width: 16px;
    height: 16px;
    margin-left: 22px;
}

.main_nav li:last-child:before{
    content: '';
    background-image: url(../images/file-solid.svg);
    background-repeat: no-repeat;
    display: block;
    width: 16px;
    height: 16px;
    margin-left: 8px;
}

.job_recruitment{
    /*背景画像の設定*/
    background: url(../images/bg-hero.jpg) no-repeat right top / 70vw auto;
}

.challenge{
    font-size: 24px;
    font-weight: bold;
    border: 2px solid #fff;
    background: #fff;
    opacity: .6;/*半透明にする*/
    display: inline-block;
    margin-top: 125px;
    margin-bottom: 24px;
    padding: 14px;
}

.job_recruitment p{
    margin-top: 6px;
    line-height: 1.6;
    margin-bottom: 24px;
    font-size: 18px;
    margin-right: 7px;
    margin-left: 7px;
    padding: 0 3px;
}

.job_recruitment a{
    font-size: 20px;
    color: #fff;
    border: 1px solid #0000cd;
    background: #0000cd;
    display: block;
    padding: 16px 64px;
    margin: 0 17px 24px 11px;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
}

.job_recruitment a:hover{
    background: #4169e1;
    transition: 0.5s;
}

.job_info{
    background: #ffffe0;
    margin-top: 20px;
}

.job_info_title{
    font-size: 20px;
    margin-top: 14px;
    padding: 14px 0 14px 16px;
}

/*下線を擬似要素にて作成*/
.job_info_title::after{
    content: '';
    border-bottom: 4px solid #deb887;
    display: block;
    width: 180px;
    height: 20px;
}

.job_info p{
    margin: 14px 10px;
    line-height: 1.5;
    padding: 0 3px;
}

.work_style_title{
    font-size: 20px;
    margin-top: 14px;
    padding: 14px 0 14px 16px;
}

/*下線を擬似要素にて作成*/
.work_style_title::after{
    content: '';
    border-bottom: 4px solid #deb887;
    display: block;
    width: 180px;
    height: 20px;
}

.work_style p{
    margin: 18px 10px;
    line-height: 1.5;
    padding: 0 3px;
}