@charset "UTF-8";

/*共通項目開始*/
html{
    font-size: 100%;
}
body{
    font-family: serif;
}

img{
    max-width: 100%;
}

.container{
    line-height: 1.4;
}
/*共通項目終了*/

/*index.htmlここから*/
.header{
    display: flex;
    justify-content: space-between;
    margin: 32px 16px;
}

.logo{
    width: 120px;
}

.main_nav{
    display: flex;
    justify-content:space-between;
    font-size: 12px;
    font-family: Arial, Helvetica;
    color: #696969;
}

.main_nav li:first-child{
    padding-right: 24px;
}

.main_nav li:nth-child(2){
    padding-right: 24px;
}

.main_nav li:last-child{
    padding-right: 16px;
}

/*ナビゲーションに画像の疑似要素を追加する*/
.main_nav li:first-child:before{
    content: '';
    background-image: url(../images/house-solid.svg);
    background-repeat: no-repeat;
    display: block;
    width: 24px;
    height: 24px;
    margin-left: 5px;
}

.main_nav li:nth-child(2):before{
    content: '';
    background-image: url(../images/bars-solid.svg);
    background-repeat: no-repeat;
    display: block;
    width: 24px;
    height: 24px;
    margin-left: 13px;
}

.main_nav li:last-child:before{
    content: '';
    background-image: url(../images/file-solid.svg);
    background-repeat: no-repeat;
    display: block;
    width: 24px;
    height: 24px;
    margin-left: 2px;
}

.main_nav li a:hover{
    color: #696969;
    background: #f8f8ff;
    transition: 0.5s;
}

.job_recruitment{
    /*背景画像の設定*/
    background: url(../images/bg-hero.jpg) no-repeat right top / 70vw auto;
}

.challenge{
    font-size: 24px;
    font-weight: bold;
    border: 2px solid #fff;
    background: #fff;
    opacity: .6;/*半透明にする*/
    display: inline-block;
    margin-top: 125px;
    margin-bottom: 24px;
    padding: 14px;
}

.job_recruitment p{
    margin-top: 6px;
    line-height: 1.6;
    margin-bottom: 24px;
    font-size: 18px;
    margin-right: 7px;
    margin-left: 7px;
    padding: 0 3px;
}

.job_recruitment a{
    font-size: 20px;
    color: #fff;
    border: 1px solid #0000cd;
    background: #0000cd;
    display: block;
    padding: 16px 64px;
    margin: 0 17px 24px 11px;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
}

.job_recruitment a:hover{
    background: #4169e1;
    transition: 0.5s;
}

.job_info{
    background: #ffffe0;
    margin-top: 20px;
}

.job_info_title{
    font-size: 20px;
    margin-top: 14px;
    padding: 14px 0 14px 16px;
}

/*下線を擬似要素にて作成*/
.job_info_title::after{
    content: '';
    border-bottom: 4px solid #deb887;
    display: block;
    width: 180px;
    height: 20px;
}

.job_info_txt p{
    margin: 14px 10px;
    line-height: 1.5;
    padding: 0 3px;
}

/*円グラフの内部余白の調整*/
.pie{
    padding: 16px;
}

.work_style_title{
    font-size: 20px;
    margin-top: 14px;
    padding: 14px 0 14px 16px;
}

/*下線を擬似要素にて作成*/
.work_style_title::after{
    content: '';
    border-bottom: 4px solid #deb887;
    display: block;
    width: 180px;
    height: 20px;
}

.work_styke_txt p{
    margin: 18px 10px;
    line-height: 1.5;
    padding: 0 3px;
}

/*棒グラフ*/
.bar{
    padding: 16px;
    width: 100%;
}

.bar p{
    text-align: center;
}

/*footer*/
footer{
    background: #2d3374;
    padding: 16px;
}
.footer_recruitment{
    font-size: 20px;
    color: #555;
    border: 1px solid #d0bea2;
    background: #d0bea2;
    display: block;
    padding: 20px 0;
    margin: 35px 0 72px 0;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    
}

.footer_recruitment:hover{
    background: #deb887;
    transition: 0.5s;
}

.footer_nav{
    padding: 4px 24px;
    text-align: center;
    margin-bottom: 16px;
}

.footer_nav li{
    padding-bottom: 12px;
}

.footer_nav li a{
    color: #d5d7e4;
    line-height: 1.4;
    font-family: Arial, Helvetica;
}

.footer_nav li a:hover{
    background: #b0c4de;
    transition: 0.5s;
}
/*index.htmlここまで*/

/*job.htmlここから*/
.wrapper{
    border: 1px solid #dcdcdc;
    margin: 112px 11px;
    position: relative;
    background-color: #fff;
}

/*このページにしか表示しない部分*/
.wrapper::before{
    content: '';
    display: block;
    position: absolute;
    background-image: url(../images/bg-job.jpg);
    background-repeat: no-repeat;
    background-position: center center;/*横と縦の位置どこから切り抜くか*/
    background-size: cover;
    width: 290px;
    height: 180px;
    top: -26px;
    left: -24px;
    z-index: -1;
    margin-top:-60px;
}

.recruitment_detail{
    text-align: center;
    margin: 53px 0;
}

.recruitment_detail h1{
    font-size: 24px;
    position: relative;
}

.recruitment_detail h1::after{
    content: '';
    border-bottom: 4px solid #d0bea2;
    display:block;
    width: 160px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    margin: 48px 0;
}

.recruitment_detail p{
    margin-top: 81px;
    margin-bottom: 60px;
    padding: 0 32px;
    line-height: 1.8;
    font-family: Arial, Helvetica;
}

/*募集要項*/
.detail_table{
    line-height: 1.7;
    margin: 32px;
}

.details {
    width: 100%;
    font-family: Arial, Helvetica;
}

.details th,
.details td{
    display: block;
}

.details th:nth-child(odd){
    background-color: #f8f6f2;
    font-weight: lighter;
    padding: 12px;
}

.details td:nth-child(even){
    padding: 24px 16px;
}

/*応募フォーム*/
.detail_table a{
    font-size: 20px;
    color: #fff;
    border: 1px solid #2d3374;
    background: #2d3374;
    display: block;
    padding: 16px 64px;
    margin: 32px 0px 24px 0px;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
}

.detail_table a:hover{
    background: #4169e1;
    transition: 0.5s;
}
/*採用までの流れ*/
.recruitment_flow{
    line-height: 1.7;
}
.recruitment_flow h1{
    font-size: 24px;
    position: relative;
    text-align: center;
    margin-top: 52px;
}

.recruitment_flow h1::after{
    content: '';
    border-bottom: 4px solid #d0bea2;
    display:block;
    width: 160px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    margin: 53px 0;
}

.flow{
    margin-top: 62px;
    width: 100%;
    margin-left: 16px;
    margin-bottom: 60px;
}

.flow th,
.flow td{
    display: block;
}

.flow th:nth-child(odd){
    font-size: 20px;
    font-weight: lighter;
    padding: 12px;
}

.flow td:nth-child(even){
    padding: 0 32px 12px 32px;
}

.flow_num{
    font-size: 14px;
}
/*job.htmlここまで*/
/*Desktop_size*/
@media screen and (min-width:600px){
    /*共通項目*/
    .container{
        margin-top: 24px;
    }
    /*index.htmlここから*/
    /*header*/
    .logo{
        width: 200px;
        margin-left: 14px;
    }
    .main_nav{
        font-size: 20px;
    }
    .main_nav li:first-child{
        padding-right: 32px;
    }
    
    .main_nav li:nth-child(2){
        padding-right: 32px;
    }
    
    .main_nav li:last-child{
        padding-right: 40px;
    }

    /*疑似要素の画像を非表示にする*/
    .main_nav li:first-child:before,
    .main_nav li:nth-child(2):before,
    .main_nav li:last-child:before{
        display: none;
    }
    
    .main_nav li a:hover{
        border-bottom: 3px solid #0000cd;
        transition: 0s;
        padding-bottom: 4px;
        background: #fff;
        color: black;
    }

    /*mainここから*/
    .job_recruitment{
        height: auto;/*デスクトップ用に高さの調整*/
        margin-right: 32px;
        margin-bottom: 56px;
    }

    .challenge{
        font-size: 36px;
        margin: 140px 0 24px 16px;
        font-weight: normal;
        border: none;
        background: none;
        opacity: 1;/*半透明にしない*/
    }

    .job_recruitment p{
        width: 44%;
        margin-left: 28px;
    }

    .job_recruitment a{
        display: inline-block;
        padding: 14px 64px;
        margin-left: 32px;
    }
    /*テキストと円グラフを横並びにする*/
    .job_info{
        display: flex;
    }

    .flex_reverse{
        flex-direction: row-reverse;
    }

    .pie{
        width: 40%;
        padding-left: 28px;
    }

    .job_info_txt{
        margin-top: 84px;
    }

    .job_info_title{
        font-size: 28px;
        margin-top: 20px;
    }

    .job_info_txt p{
        line-height: 1.7;
        padding-right: 32px;
    }

    .job_info_title::after{
        margin: 12px 0;
    }

    .work_style{
        margin: 56px 16px;
        display: flex;
    }

    .work_styke_txt{
        margin: 36px 16px 0 0;
    }

    .work_style_title{
        font-size: 28px;
    }

    .work_style_title:after{
        margin: 12px 0;
    }

    .work_styke_txt p{
        line-height: 1.7;
        padding-right: 32px;
    }

    .bar{
        margin: 44px 4px;
        width: 40%;
        padding-right: 16px;
    }
    /*mainここまで*/
    footer{
        margin-top: 12px;
        text-align: center;
    }

    .footer_recruitment{
        margin-top: 24px;
        display:inline-block;
    }

    .footer_nav{
        display: flex;
        justify-content: center;
        margin: 12px 0;
    }

    .footer_nav li{
        margin-right: 20px;
    }
    /*index.htmlここまで*/
}