@charset "UTF-8";

/*共通項目開始*/
html{
    font-size: 100%;
}
body{
    font-family: serif;
}

img{
    max-width: 100%;
}

.container{
    line-height: 1.4;
}
/*共通項目終了*/
.header{
    display: flex;
    justify-content: space-between;
    margin: 16px;
}

.logo{
    width: 150px;
}

.main_nav{
    display: flex;
    justify-content:space-between;
    font-size: 15px;
}

.main_nav li:first-child{
    padding-right: 10px;
}

.main_nav li:nth-child(2){
    padding-right: 10px;
}

.main_nav li:last-child{
    padding-right: 14px;
}

/*iconのみをセンターにできないので一旦後で考えることにする*/
.main_nav li:first-child:before{
    content: '';
    background-image: url(../images/house-solid.svg);
    background-repeat: no-repeat;
    display: block;
    width: 16px;
    height: 16px;
}

.main_nav li:nth-child(2):before{
    content: '';
    background-image: url(../images/bars-solid.svg);
    background-repeat: no-repeat;
    display: block;
    width: 16px;
    height: 16px;
}

.main_nav li:last-child:before{
    content: '';
    background-image: url(../images/file-solid.svg);
    background-repeat: no-repeat;
    display: block;
    width: 16px;
    height: 16px;
}
/*iconのみをセンターにできないので一旦後で考えることにする*/

.job_recruitment{
    /*背景画像の設定*/
    background: url(../images/bg-hero.jpg) no-repeat right top / 70vw auto;
}

.challenge{
    font-size: 24px;
    border: 2px solid #fff;
    background: #fff;
    opacity: .6;/*半透明にする*/
    display: inline-block;
    margin-top: 125px;
    margin-bottom: 24px;
    padding: 14px;
}